streamlit
openai
torch
transformers
einops
sentence-transformers
faiss-cpu
rank-bm25
pymupdf4llm
pymupdf
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-classic
langchain-huggingface
numpy
pandas
accelerate
tokenizers
